<div class="row" id="activity_type_list">

  <h1>What do you want to do?</h1>
  <div class="col-xs-3 act_type">
    <div>
      <%= image_tag("http://s29.postimg.org/qalkzfzvr/shoppingbag.png", height:'100', width:'100') %>
      <p>Shopping</p>
    </div>
    <div><%= check_box_tag(:shopping) %></div>
  </div>


  <div class="col-xs-3 act_type">
    <div>
      <%= image_tag("http://s14.postimg.org/knn3zeykx/sport.png", height:'100', width:'100') %>
      <p>Adventure</p>
    </div>
    <div><%= check_box_tag(:adventure) %></div>
  </div>

  <div class="col-xs-3 act_type">
    <%= image_tag("http://s11.postimg.org/hh0u45cw3/camera.png", height:'100', width:'100') %>
    <p>Sightseeing</p>
    <div><%= check_box_tag(:sightseeing) %></div>
  </div>

  <div class="col-xs-3 act_type">
    <%= image_tag("http://s10.postimg.org/848qywqwp/wine.png", height:'100', width:'100') %>
    <p>Nightlife</p>
    <div><%= check_box_tag(:nightlife) %></div>
  </div>
</div>

<div class="row" id="activity_type_list">
  <div class="col-xs-3 act_type">
    <%= image_tag("http://s15.postimg.org/smumyltsb/skii.png", height:'100', width:'100') %>
    <p>Winter</p>
    <div><%= check_box_tag(:winter) %></div>
  </div>

  <div class="col-xs-3 act_type">
    <%= image_tag("http://s14.postimg.org/4wsueb0k1/sun.png", height:'100', width:'100') %>
    <p>Beach</p>
    <div><%= check_box_tag(:beach) %></div>
  </div>

  <div class="col-xs-3 act_type">
    <%= image_tag("http://s27.postimg.org/qyij65sdv/museum.png", height:'100', width:'100') %>
    <p>History</p>
    <div><%= check_box_tag(:history) %></div>
  </div>

</div>
<div class="row">
  <%= link_to travelling_companions_path do %>
      <button type="button" class="btn btn-default btn-lg">Back</button>
  <% end %>
  <%= link_to activity_index_path do %>
      <button type="button" class="btn btn-default btn-lg">Next</button>
  <% end %>
</div>