<div class="row">
  <h1>What do you like?</h1>
  <h2>Select activities</h2>
  <li>
    <div class="col-xs-7">
      <div>
        <p>Shopping</p>
      </div>
      <div><%= check_box_tag(:shopping) %></div>
    </div>

    <div class="col-xs-7">
      <div>
        <p>Football</p>
      </div>
      <div><%= check_box_tag(:football) %></div>
    </div>

    <div class="col-xs-7">
      <div>
        <p>Hiking</p>
      </div>
      <div><%= check_box_tag(:hiking) %></div>
    </div>

    <div class="col-xs-7">
      <div>
        <p>Museums</p>
      </div>
      <div><%= check_box_tag(:museums) %></div>
    </div>

    <div class="col-xs-7">
      <div>
        <p>Irish pubs</p>
      </div>
      <div><%= check_box_tag(:pubs) %></div>
    </div>
  </li>

</div>