<div id="topnav-container" class="row">
  <div id="topnav" class="col-xs-12">
    <div id="topnav_navigation" class="col-xs-2">
      <%= link_to("General", adm_path) %>
    </div>
    <div id="topnav_navigation" class="col-xs-2">
      <%= link_to("Users & Groups", adm_users_path) %>
    </div>
    <div id="topnav_navigation" class="col-xs-2">
      <%= link_to("Tournaments", adm_tournaments_path) %>
    </div>
    <div id="topnav_navigation" class="col-xs-2">
      <%= link_to("Matches", adm_matches_path) %>
    </div>
    <div id="spacer" class="col-xs-2"></div>
    <div id="topnav_navigation" class="col-xs-2">
      <%= link_to("Admin Log Out", root_path) %>
    </div>
  </div>
</div>